<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunFinity Junction</title>
    <link rel="stylesheet" href="frontPage.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTixaMUtIv7Jx3vW7k5vnXmwjIZBOb4dDqvKA&s" type="image/x-icon">
</head>

<body>
    <div class="whole-div">
        <div class="div-content">
            <h1 class="title">Fun<span class="finity">Finity</span> Junction</h1>
            <p class="subtitle">A magical world of toys, laughter, and unforgettable memories.</p>
            <p class="subtitle">More than a store its a new world for families to explore new toys, laugh, and play together</p>
                <p class="subtitle">Leave with a lots of love and happiness</p>
            <a href="/toys" class="btn">Explore Toys</a>
        </div>
    </div>
</body>

</html>
